:root {
  color-scheme: dark;
  --bg: #141414;
  --text: #f3f3f3;
  --muted: #8a8a8a;
  --border: #30302d;

  --content-width: 1120px;
  --grid-cell-size: 3rem;
  --lg-gap: 1.5rem;
  --xs-gap: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: "Manrope Variable", sans-serif;
  font-weight: 400;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  letter-spacing: -0.056rem;
  font-size: clamp(2.5rem, 5vw, 4rem);
  margin-top: 8rem;
  padding: var(--xs-gap);
  border-bottom: 1px dashed var(--border);
  font-weight: 300;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 1.0625rem;
}


.muted-text {
  color: var(--muted);
}

.at-symbol {
  font-size: 0.9rem;
  vertical-align: text-top;
}

.desc {
  padding: var(--xs-gap);
  display: flex;
  flex-direction: column;
  gap: var(--lg-gap);
  border-bottom: 1px dashed var(--border);
}

.hero-desc {
  padding-top: calc(var(--lg-gap) * 2);
  padding-bottom: calc(var(--lg-gap) * 2);
}

#experience, #projects {
  margin: calc(var(--grid-cell-size) * 1) var(--xs-gap);
  border-left: 1px dashed var(--border);
  padding: 0 var(--xs-gap);
}

#experience h2, #projects h2 {
  margin-bottom: var(--lg-gap);
}

#experience .xp-list {
  border-left: 1px dashed var(--border);
  padding: 0 var(--xs-gap);
}

#experience .xp-list p {
  margin-bottom: var(--xs-gap);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--grid-cell-size);
  /* background: var(--surface); */
}

@media (max-width: 480px) {
  h1 {
    margin-top: 6rem;
  }

  #experience, #projects {
    margin: var(--grid-cell-size) var(--xs-gap);
    border-left: 1px dashed var(--border);
    padding: 0 var(--xs-gap);
  }

  .project-grid {
    grid-template-columns: 1fr;
    gap: var(--xs-gap);
  }
}

:root[data-theme="light"] {
  color-scheme: light;
  --bg: #f5f5f3;
  --text: #202020;
  --muted: #666662;
  --border: #d3d3cd;
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    color-scheme: light;
    --bg: #f5f5f3;
    --text: #202020;
    --muted: #666662;
    --border: #d3d3cd;
  }
}
