
.main-grid-container {
  padding: 0 var(--lg-gap);
  display: grid;
  grid-template-columns: var(--grid-cell-size) minmax(0, 1fr);
}

.nav-aligner {
  width: var(--grid-cell-size);
  height: 100%;
  border-right: 1px solid var(--border);
  /* background: red; */
}

.nav-aligner::after {
  content: "";
  display: block;
  width: 100%;
  height: var(--hero-title-height);
  border-left: 1px solid var(--border);
}